body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background-color: navy;
    color: white;

}


#board {
    background-image: url('img/back.gif'); 
    background-size:cover;
    background-repeat: no-repeat; /* Tambahkan ini untuk menghindari pengulangan gambar */
    background-color: lightgray;
    border-bottom: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px white;
}
